/* ===== About ===== */
.about-section {
    /* min-height: 100vh; */
    /* padding: 1rem; */
    margin-top: 0.5rem; 
    color: #ccd6f6;
}

/* Text block */
.about-section p {
    margin-bottom: 1.5rem;
    line-height: 1.4;
    font-size: 1.1rem;
    color: #8892b0;
}



/* Responsive adjustments */
@media (max-width: 768px) {
    .about-section p {
        font-size: 1rem;
    }
}